<form [formGroup]="userFormGroup">

  <div class="input-group">
    <div class="col-6">
      <input  [formControlName]="'_email'"
              name="email"
              type="text"
              class="form-control"
              placeholder="Email"
      >
    </div>
    <div *ngIf="email.invalid && (email.dirty || email.touched)"
         class="p-2 ms-2 col-5 alert-danger"
    >
      <div *ngIf="email.errors?.['required']">
        L'email est requis
      </div>
    </div>
  </div>

  <div class="input-group">
    <div class="col-6">
      <input  [formControlName]="'_password'"
              name="password"
              type="text"
              class="form-control"
              placeholder="Mot de Passe"
      >
    </div>
    <div *ngIf="password.invalid && (password.dirty || password.touched)"
         class="p-2 ms-2 col-5 alert-danger"
    >
      <div *ngIf="password.errors?.['required']">
        Le mot de passe est requis
      </div>
    </div>
  </div>

  <button class="btn btn-primary col-6" [disabled]="userFormGroup.invalid" (click)="onSubmit()">
    Se connecter
  </button>
</form>


<!--<div *ngIf="!isLogged">
  <form [formGroup]="form" (submit)="onSubmit()" class="input-group mb-3">
    <input formControlName="email" type="text" class="form-control" placeholder="email" aria-label="email@domain.fr">
    <input formControlName="password" type="password" class="form-control" placeholder="Password" aria-label="Server">
    <button class="btn btn-success" type="submit">
      Log in
    </button>
  </form>
</div>-->
